.configurator-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.configurator-panel.section {
  margin: -12px;
  margin-top: 0;
  border: 1px solid #cb8f34;
  padding: 12px;
  border-radius: 8px;
  gap: 8px;
  padding: 12px;
}
